<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Start Your Journey</span>
            <h2 class="cs-title">Book Your Treatment at Regent Thai Massage & Spa</h2>
            <p class="cs-text">
                Take the first step towards relief and relaxation. Book online or contact us to arrange your personalised treatment today.
            </p>
            <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-button-solid">Book Now</a>
        </div>
    </div>
    <!-- Background Image-->
    <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="/assets/images/cta-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/cta.webp">
        <img loading="lazy" decoding="async" src="/assets/images/cta.jpg" alt="couples massage" width="1920" height="1280" aria-hidden="true">
    </picture>
</section>
                                