<!-- ============================================ -->
<!--                   Subscribe                  -->
<!-- ============================================ -->

<section id="subscribe-2143">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Main Image-->
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/banner-2.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/banner-2.png">
                <img loading="lazy" decoding="async" src="/assets/images/banner-2.png" alt="hot stones" width="396" height="570">
            </picture>
            <!--Color Wheel-->
            <!--<img class="cs-wheel" loading="lazy" decoding="async" src="/assets/images/color-wheel.png" alt="color wheel" width="542" height="542" aria-hidden="true">-->
        </div>
        <div class="cs-content">
            <span class="cs-topper">Start Your Journey</span>
            <h2 class="cs-title">Book Your Treatment at Regent Thai Massage & Spa</h2>
            <p class="cs-text">
                Take the first step towards relief and relaxation. Book online or contact us to arrange your personalised treatment today.
            </p>
            <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-button-solid">Book Now</a>
        </div>
    </div>
</section>
                                
                                