<section id="hero-2151">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Regent Thai Massage & Spa</span>
            <h2 class="cs-title">Authentic Thai Massage in Cheltenham</h2>
            <p class="cs-text">
                Escape the everyday at Regent Thai Massage & Spa. Conveniently located in Cheltenham town centre, we offer traditional Thai massage, aromatherapy, and therapeutic treatments delivered by qualified professionals. Experience genuine healing and lasting relief.
            </p>
            <div id="button-box-838" class="cs-contact-group">
                <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-button-solid">Schedule An Appointment</a>
                <a href="tel:{{client.phoneForTel}}" class="cs-button-transparent">{{client.phoneFormatted}}</a>
            </div>                      
        </div>
        <picture class="cs-background">

            <source media="(max-width: 600px)" srcset="/assets/images/hero-m.webp">
            
            <source media="(min-width: 601px)" srcset="/assets/images/hero.webp">
            <img loading="lazy" decoding="async" src="/assets/images/hero.jpg" alt="icon" width="960" height="857">
        </picture>
    </div>
</section>