<section id="hero-1950">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">We do not cook, we create your emotions!</h1>
            <div class="cs-flex-group">
                <p class="cs-text">My passion for food has brought many new, fun and delicious dishes to the table. My passion for food has brought many new, fun and delicious dishes to the table.</p>
                <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-button-solid">Schedule A Massage</a>
            </div>
        </div>
    </div>

    <!-- Background Image, there's a background image in the CSS for the parallax effect you'll need to change as well if you swap out our images -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/hero-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/hero.webp">
        <img decoding="async" src="/assets/images/hero.jpg" alt="restaurant" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>


                                