<!-- ====================================================================================== -->
<!--                                   Service Tiles                                        -->
<!-- ====================================================================================== -->


<section id="services-877">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Massage Treatments</span>
            <h2 class="cs-title">Traditional Thai Treatments for Mind and Body</h2>
            <p class="cs-text">
                Whether you're seeking relaxation or relief from chronic pain, our expert therapists provide traditional Thai massage and complementary treatments in our tranquil Cheltenham spa. Choose from individual sessions or couples experiences, with flexible durations to suit your needs.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/aroma.jpg" | resize({width: 576, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/aroma.jpg" | resize({width: 576, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/aroma.jpg" | resize({width: 576, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/aroma.jpg" | resize({width: 634, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/aroma.jpg" | resize({width: 634, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/aroma.jpg" | resize({width: 634, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/aroma.jpg" | resize({width: 828, height: 400}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/aroma.jpg" | resize({width: 828, height: 400}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/aroma.jpg" | resize({width: 828, height: 400}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/aroma.jpg" | resize({width: 688, height: 480}) | jpeg %}" alt="aromatherapy massage" width="413" height="200" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Aromatherapy Massage</h3>
                    <p class="cs-item-text">
                        <strong>30 Min £35</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>60 Min £50</strong>
                    </p>
                     <p class="cs-item-text">
                        <strong>90 Min £80</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        Experience bliss as gentle muscle compression and soothing scents transport your body and mind into heavenly rest. Elevate your massage with our pure essential oils during a full-body treatment, awakening your mind, restoring balance, and leaving you energised and rejuvenated.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/thai-massage.jpg" | resize({width: 576, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/thai-massage.jpg" | resize({width: 576, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/thai-massage.jpg" | resize({width: 576, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/thai-massage.jpg" | resize({width: 634, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/thai-massage.jpg" | resize({width: 634, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/thai-massage.jpg" | resize({width: 634, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/thai-massage.jpg" | resize({width: 828, height: 400}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/thai-massage.jpg" | resize({width: 828, height: 400}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/thai-massage.jpg" | resize({width: 828, height: 400}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/thai-massage.jpg" | resize({width: 688, height: 480}) | jpeg %}" alt="traditional thai massage" width="413" height="200" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Thai Traditional Massage</h3>
                    <p class="cs-item-text">
                        <strong>30 Min £35</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>60 Min £60</strong>
                    </p>
                     <p class="cs-item-text">
                        <strong>90 Min £90</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        Experience the rejuvenating benefits of Traditional Thai Massage. Traditional techniques involve compression, pulling, stretching, and rocking, prioritising metta (loving-kindness) from Buddhist teachings. This practice effectively alleviates muscle pain, soreness, and back pain through targeted exercises, stretching, and pressure point manipulation, promoting improved blood flow and relieving tight spots.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/oil-massage.jpg" | resize({width: 576, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/oil-massage.jpg" | resize({width: 576, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/oil-massage.jpg" | resize({width: 576, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/oil-massage.jpg" | resize({width: 634, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/oil-massage.jpg" | resize({width: 634, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/oil-massage.jpg" | resize({width: 634, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/oil-massage.jpg" | resize({width: 828, height: 400}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/oil-massage.jpg" | resize({width: 828, height: 400}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/oil-massage.jpg" | resize({width: 828, height: 400}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/oil-massage.jpg" | resize({width: 688, height: 480}) | jpeg %}" alt="hot oil massage" width="413" height="200" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Thai Oil Massage</h3>
                    <p class="cs-item-text">
                        <strong>30 Min £35</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>60 Min £60</strong>
                    </p>
                     <p class="cs-item-text">
                        <strong>90 Min £90</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        Thai Aroma Oil Massage combines traditional Thai massage techniques with aromatic oils on a comfortable massage bed. It delivers deeper relaxation than traditional Thai massage whilst still working the deep layers of the muscles. Using authentic Thai massage methods, this treatment offers a perfect balance of therapeutic pressure and soothing comfort.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/foot-massage.jpg" | resize({width: 576, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/foot-massage.jpg" | resize({width: 576, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/foot-massage.jpg" | resize({width: 576, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/foot-massage.jpg" | resize({width: 634, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/foot-massage.jpg" | resize({width: 634, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/foot-massage.jpg" | resize({width: 634, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/foot-massage.jpg" | resize({width: 828, height: 400}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/foot-massage.jpg" | resize({width: 828, height: 400}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/foot-massage.jpg" | resize({width: 828, height: 400}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/foot-massage.jpg" | resize({width: 688, height: 480}) | jpeg %}" alt="foot massage" width="413" height="200" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Thai Foot Massage</h3>
                    <p class="cs-item-text">
                        <strong>30 Min £30</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>60 Min £50</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        Thai Foot Massage, or Thai Reflexology, isn't just a foot rub; it's a rejuvenating massage for the feet and lower legs. Unlike traditional reflexology focused only on feet, it blends energy healing with therapeutic massage, including the lower leg and knee for holistic benefits, improving circulation and relieving tired, aching feet.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 576, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 576, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 576, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 634, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 634, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 634, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 828, height: 400}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 828, height: 400}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 828, height: 400}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/deep-tissue.jpg" | resize({width: 688, height: 480}) | jpeg %}" alt="deep tissue massage" width="413" height="200" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Deep Tissue Massage</h3>
                    <p class="cs-item-text">
                        <strong>30 Min £35</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>60 Min £60</strong>
                    </p>
                     <p class="cs-item-text">
                        <strong>90 Min £90</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        Deep Tissue Massage is an intensive therapeutic treatment that targets chronic tension and stubborn muscle knots. Using aromatic oils combined with traditional Thai herbal balm, this powerful massage employs firm pressure and deliberate, slow strokes to reach deep muscle layers, effectively releasing persistent tension, reducing inflammation, and restoring muscle mobility.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/back.jpg" | resize({width: 576, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/back.jpg" | resize({width: 576, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/back.jpg" | resize({width: 576, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/back.jpg" | resize({width: 634, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/back.jpg" | resize({width: 634, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/back.jpg" | resize({width: 634, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/back.jpg" | resize({width: 828, height: 400}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/back.jpg" | resize({width: 828, height: 400}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/back.jpg" | resize({width: 828, height: 400}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/back.jpg" | resize({width: 688, height: 480}) | jpeg %}" alt="back massage" width="413" height="200" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Back, Neck and Shoulders</h3>
                    <p class="cs-item-text">
                        <strong>30 Min £35</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>60 Min £60</strong>
                    </p>
                     <p class="cs-item-text">
                        <strong>90 Min £90</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        Perfect for those experiencing pain and tension due to stress, this massage targets knots and tight muscles in the neck and shoulders, enhancing flexibility and mobility. Complemented by a soothing head massage, it further relaxes whilst alleviating stress and accumulated tension, providing comprehensive relief for your upper body and promoting deep relaxation.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/couples.jpg" | resize({width: 576, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/couples.jpg" | resize({width: 576, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/couples.jpg" | resize({width: 576, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/couples.jpg" | resize({width: 634, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/couples.jpg" | resize({width: 634, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/couples.jpg" | resize({width: 634, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/couples.jpg" | resize({width: 828, height: 400}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/couples.jpg" | resize({width: 828, height: 400}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/couples.jpg" | resize({width: 828, height: 400}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/couples.jpg" | resize({width: 688, height: 480}) | jpeg %}" alt="couples massage" width="413" height="200" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Regent Couples Massage</h3>
                    <p class="cs-item-text">
                        <strong>60 Min £120</strong>
                    </p>
                     <p class="cs-item-text">
                        <strong>90 Min £180</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        Share a blissful relaxation experience together in our private couples treatment room. Choose from Aromatherapy Massage, Thai Traditional Massage, Thai Oil Massage, Deep Tissue Massage, or Back, Neck and Shoulders Massage. Enjoy side-by-side treatments from our expert therapists, creating lasting memories whilst restoring balance and reconnecting in tranquil surroundings.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/body-scrub.jpg" | resize({width: 576, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/body-scrub.jpg" | resize({width: 576, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/body-scrub.jpg" | resize({width: 576, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/body-scrub.jpg" | resize({width: 634, height: 400}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/body-scrub.jpg" | resize({width: 634, height: 400}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/body-scrub.jpg" | resize({width: 634, height: 400}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/body-scrub.jpg" | resize({width: 828, height: 400}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/body-scrub.jpg" | resize({width: 828, height: 400}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/body-scrub.jpg" | resize({width: 828, height: 400}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/body-scrub.jpg" | resize({width: 688, height: 480}) | jpeg %}" alt="body scrub and massage" width="413" height="200" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Body Scrub & Massage</h3>
                    <p class="cs-item-text">
                        <strong>30 Min N/A</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>60 Min N/A</strong>
                    </p>
                     <p class="cs-item-text">
                        <strong>90 Min £95</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        This luxurious detoxifying treatment combines an invigorating exfoliating body scrub with a therapeutic massage for complete rejuvenation. Using citrus oils and carefully blended essential oils, the treatment smooths and refreshes your skin whilst improving circulation. The massage that follows releases tension, leaving your body polished, pampered, and deeply relaxed.
                    </p>
                </a>
            </li>
        </ul>
        <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-button-solid">Book A Massage</a>
    </div>
</section>
