---
title: 'Events | Code Stitch Web Designs'
description: 'Meta description for the page'
permalink: 'events/'
eleventyNavigation:
    key: Events
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/events.css">
    <link rel="preload" as="image" href="{% getUrl "/assets/images/banner.jpg" | resize({width: 2560, height: 1136}) | avif %}">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Events                    -->
<!-- ============================================ -->

<section id="events-2423">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Community In Action</span>
            <h2 class="cs-title">Join Us At Local Events</h2>
            <p class="cs-text">
                We love supporting our community! Look for us at local pet-friendly events, fairs, and markets where we share tips, meet fellow pet lovers, and help promote cleaner, healthier spaces for everyone.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/event-1.jpg" | resize({width: 576, height: 1048}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/event-1.jpg" | resize({width: 576, height: 1048}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/event-1.jpg" | resize({width: 576, height: 1048}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/event-1.jpg" | resize({width: 1568, height: 832}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/event-1.jpg" | resize({width: 1568, height: 832}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/event-1.jpg" | resize({width: 1568, height: 832}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/event-1.jpg" | resize({width: 828, height: 1070}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/event-1.jpg" | resize({width: 828, height: 1070}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/event-1.jpg" | resize({width: 828, height: 1070}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/event-1.jpg" | resize({width: 828, height: 1070}) | jpeg %}" alt="event 1" width="414" height="535" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Thai Massage Basics</h3>
                    <div class="cs-flex">
                        <div class="cs-calender">
                            <span class="cs-month">Dec</span>
                            <span class="cs-date">25</span>
                            <span class="cs-day">Mon</span>
                        </div>
                        <div class="cs-text-group">
                            <div class="cs-time">
                                <span class="cs-time-text">05:00 PM</span>
                            </div>
                            <div class="cs-info">
                                <span class="cs-text-large">
                                    Aaron Hill Farm
                                </span>
                                <span class="cs-text-item">
                                    Hebden Bridge, HX7 5TX
                                </span>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/event-2.jpg" | resize({width: 576, height: 1048}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/event-2.jpg" | resize({width: 576, height: 1048}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/event-2.jpg" | resize({width: 576, height: 1048}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/event-2.jpg" | resize({width: 1568, height: 832}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/event-2.jpg" | resize({width: 1568, height: 832}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/event-2.jpg" | resize({width: 1568, height: 832}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/event-2.jpg" | resize({width: 828, height: 1070}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/event-2.jpg" | resize({width: 828, height: 1070}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/event-2.jpg" | resize({width: 828, height: 1070}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/event-2.jpg" | resize({width: 828, height: 1070}) | jpeg %}" alt="event 2" width="414" height="535" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Thai Massage Basics</h3>
                    <div class="cs-flex">
                        <div class="cs-calender">
                            <span class="cs-month">Dec</span>
                            <span class="cs-date">25</span>
                            <span class="cs-day">Mon</span>
                        </div>
                        <div class="cs-text-group">
                            <div class="cs-time">
                                <span class="cs-time-text">05:00 PM</span>
                            </div>
                            <div class="cs-info">
                                <span class="cs-text-large">
                                    Aaron Hill Farm
                                </span>
                                <span class="cs-text-item">
                                    Hebden Bridge, HX7 5TX
                                </span>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image -->
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/event-3.jpg" | resize({width: 576, height: 1048}) | avif %}" type="image/avif">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/event-3.jpg" | resize({width: 576, height: 1048}) | webp %}" type="image/webp">
                        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/event-3.jpg" | resize({width: 576, height: 1048}) | jpeg %}" type="image/jpeg">
                        <!--Tablet Image -->
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/event-3.jpg" | resize({width: 1568, height: 832}) | avif %}" type="image/avif">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/event-3.jpg" | resize({width: 1568, height: 832}) | webp %}" type="image/webp">
                        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/event-3.jpg" | resize({width: 1568, height: 832}) | jpeg %}" type="image/jpeg">
                        <!--Desktop Image -->
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/event-3.jpg" | resize({width: 828, height: 1070}) | avif %}" type="image/avif">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/event-3.jpg" | resize({width: 828, height: 1070}) | webp %}" type="image/webp">
                        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/event-3.jpg" | resize({width: 828, height: 1070}) | jpeg %}" type="image/jpeg">
                        <img src="{% getUrl "/assets/images/event-3.jpg" | resize({width: 828, height: 1070}) | jpeg %}" alt="event 3" width="414" height="535" loading="lazy" decoding="async" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Thai Massage Basics</h3>
                    <div class="cs-flex">
                        <div class="cs-calender">
                            <span class="cs-month">Dec</span>
                            <span class="cs-date">25</span>
                            <span class="cs-day">Mon</span>
                        </div>
                        <div class="cs-text-group">
                            <div class="cs-time">
                                <span class="cs-time-text">05:00 PM</span>
                            </div>
                            <div class="cs-info">
                                <span class="cs-text-large">
                                    Aaron Hill Farm
                                </span>
                                <span class="cs-text-item">
                                    Hebden Bridge, HX7 5TX
                                </span>
                            </div>
                        </div>   
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>
                                                                                 

{% endblock %}