---
title: 'Massages | Regent Thai Massage & Spa'
description: "Authentic Thai massage in Cheltenham. Aromatherapy, deep tissue, Thai oil massage and more. Expert therapists, traditional techniques. Book your treatment today."
preloadImg: '/assets/images/banner.webp'
permalink: 'massages/'
eleventyNavigation:
    key: Massages
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/massages.css">
{% endblock %}

{% block body %}

{% include 'components/pricing-tiles.html' %}                                                  

{% endblock %}